[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
build = "*"
twine = "*"

[packages]
opencv-python = "*"
tensorflow = "*"
pynput = "*"
mediapipe = "*"
pyvirtualcam = "*"
typer = "*"
inotify-simple = "*"
mss = "*"
v4l2 = {editable = true, git = "https://github.com/hamidzr/python-v4l2.git"}
loguru = "*"

[requires]
python_version = "3.8"
