[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
opencv-python = "==4.1.1.26"
tensorflow = "==1.13.1"
pynput = "*"
mediapipe = "*"
pyvirtualcam = "*"
typer = "*"
inotify-simple = "*"

[requires]
python_version = "3.7"
