<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CMIOExtension</key><dict>
    <key>CMIOExtensionMachServiceName</key><string>$(TeamIdentifierPrefix)com.hamidzr.webcam-mods.CameraExtension</string>
  </dict>
  <key>NSSystemExtensionUsageDescription</key><string>Webcam Mods provides a virtual camera for video apps.</string>
</dict></plist>
